/*
* @Author: Administrator
* @Date:   2017-10-05 17:48:35
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-05 18:34:01
*/
@import url('base.css');
header{
	width: 100%;
	/* height: .8rem; */
	/* background: black; */
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
header h1{
	width: 100%;
	height: .8rem;
	font-size: .5rem;
	color: white;
	line-height: .8rem;
	letter-spacing: .05rem;
	background: #1C1C1C;
	/* background: yellow; */
}
.top-two{
	width: 100%;
	height: .8rem;
	font-size: .4rem;
	letter-spacing: .05rem;
	background: #252938;
	display: flex;
	justify-content: space-between;
}
.top-two li{
	width: 50%;
	height: 100%;
	line-height: .8rem;
	
}
.top-two li a{
	color: white;
}
.top-two li:last-of-type{
	border-bottom: .06rem solid #B4B412;
}
h5{
	width: 100%;
	height: .5rem;
	/* background: yellow; */
	padding-right: .08rem;
	padding-left: .08rem;
	color: #888;
	font-size: .3rem;
	/* margin-bottom: 1rem; */
}
h5:first-of-type{
	margin-top: 1.8rem;
}
.huabei:last-of-type{
	margin-bottom: 1rem;
}
.huabei{
	width: 100%;
	/* height: .5rem; */
	padding-left: .08rem;
	margin-bottom: .03rem;
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-around; */
}
.huabei a{
	/* width: 16.666%; */
	/* height: 90%; */
	/* float: left; */
	color: #000;
	font-size: .34rem;
	text-align: center;
	padding-right: .13rem;
	padding-left: .13rem;
	border-right: .04rem solid #888;
	margin-bottom: .08rem;
}
.bottom{
	padding-top: .08rem;
	padding-bottom: .08rem;
	width: 100%;
	height: .8rem;
	background: #272822;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99;
	padding-left: .28rem;
	padding-right: .28rem;
	display: flex;
	justify-content: space-between;
}
.icon-shouye,.icon-wode{
	font-family: 'iconfont';
	font-size: .3rem;
	/* width: 15%; */
	/* height: 60%; */
	color: #f0f0f0;
}
.icon-mudedi5,.icon-dengpao{
	font-family: 'iconfont';
	font-size: .3rem;
	/* width: 15%; */
	/* height: 60%; */
	color: #f0f0f0;
}
.bottom > a{
	display: block;
	width: 15%;
	height: 90%;
	text-align: center;
}
.bottom > a > p{
	font-size: .18rem;
	color: white;
	margin-top: .03rem;
}
.mudi div,a.mudi > p{
	color: #B4B412;
}