/*
* @Author: Administrator
* @Date:   2017-08-02 09:54:41
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-03 10:26:55
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "微软雅黑"，"宋体"，"sans-serif";
}
body{
	background: #fff;
}
img{
	border:0 ;
}
